a {
    height: 35px;
    padding-bottom: 10px;
    border: 2px solid transparent;
}
a:hover {
    cursor: pointer;
    border-bottom: 2px solid black;
}
.navigationOnMobile {
    z-index: 1000;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
}